<organization-chart
	[datasource]="ds"
	[nodeTemplate]="myNodeTemplate"
	[zoom]="false"
	[groupScale]="1"
	chartClass="myChart"
>
	<!-- [groupScale]="1" -->
</organization-chart>

<ng-template #myNodeTemplate let-nodeData="datasource">
	<div class="node-container" (click)="selectNode(nodeData)">
		<img [src]="nodeData.img" alt="horse" class="profile" />
		<div class="node-header">{{ nodeData.title }}</div>
	</div>
</ng-template>
