::ng-deep .orgchart {
	background-image: none !important;
	/* position: absolute;
	transform: rotate(-90deg) rotateY(180deg);
	transform-origin: left top; */
}
.node-container {
	display: flex;
	align-items: center;
	/* width: 215px; */
	height: 49px;
	border-radius: 4px;
	background-color: #e3f0f1;
	border: 1px solid #c6e0e4;
}
.profile {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin: 0 12px;
}
.node-header {
	font-size: 14px;
	color: #354051;
}
/* ::ng-deep .orgchart.myChart .oc-group:not(:last-child)::before {
	border-color: #c4cdd5;
} */
::ng-deep .orgchart.myChart > orgchart-node > .oc-node::after {
	background-color: #c4cdd5 !important;
}
::ng-deep .orgchart.myChart .oc-group > orgchart-node::before {
	border-color: #c4cdd5;
}

::ng-deep .orgchart.myChart orgchart-node:not(:last-child)::after {
	border-color: #c4cdd5;
}
::ng-deep .oc-node:hover,
.oc-node.oc-is-selected {
	background-color: transparent !important;
}
/* ::ng-deep   i {
	display: none;
} */
/* ::ng-deep .orgchart .node .title {
	transform: rotate(-90deg) translate(-45px, -45px) rotateY(180deg);
    transform-origin: bottom center;
	transform: rotate(-90deg) translate(-45px, -45px) rotateY(180deg);
	transform-origin: top center;
	width: 130px;
}
::ng-deep .orgchart .node.slide-down {
	transform: translateY(130px);
}
::ng-deep .orgchart .node.slide-up {
	transform: translateY(-130px);
}
::ng-deep .orgchart .node.slide-right {
	transform: translateX(40px);
}
::ng-deep .orgchart .node.slide-left {
	transform: translateX(-40px);
} */
